{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">Gerenciador de Arquivos</h1>

  <div class="card">
    <div class="card-header">Seus Arquivos</div>
    <div class="card-body">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Tamanho</th>
            <th>Última Modificação</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for file in files %}
          <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.size }} bytes</td>
            <td>{{ file.modified|date:"d-m-Y H:i" }}</td>
            <td>
              <a href="{{ file.url }}" class="btn btn-sm btn-info" download>
                <i class="fas fa-download"></i> Download
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}